@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gabarito:wght@400;500;600;700;800;900&family=Noto+Serif+Khmer:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,700;1,800&family=Ysabeau:ital,wght@0,100;0,200;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+Khmer:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,700;1,800&family=Ysabeau:ital,wght@0,100;0,200;1,200&display=swap');

#app {
    font-family: 'Fira Sans', 'Noto Serif Khmer', serif;

}

:root {
    --primary: #8338ec;
    --seconday: #222222;

}

.light {
    background: white;
    color: black;

}

.dark {
    background: #222;
    color: #F3F3F3;

}

/* child interit min-height from parent*/
.min-h-inherit {
    min-height: inherit !important;
}

@media (hover: hover) {}

@media (max-width: 574px) {}

@media (max-width: 667px) {}

@media (max-width: 896px) {}